.AppBis {
  text-align: center;
}

.AppBis-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .AppBis-logo {
    animation: AppBis-logo-spin infinite 60s linear;
  }
}

.AppBis-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppBis-link {
  color: #61dafb;
}

@keyframes AppBis-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
